@import "tailwindcss";

@theme inline {
  --color-Purple-50: hsl(260, 100%, 95%);
  --color-Purple-300: hsl(264, 82%, 80%);
  --color-Purple-500: hsl(263, 55%, 52%);

  --color-White: hsl(0, 0%, 100%);
  --color-Gray-100: hsl(214, 17%, 92%);
  --color-Gray-200: hsl(0, 0%, 81%);
  --color-Gray-400: hsl(224, 10%, 45%);
  --color-Gray-500: hsl(217, 19%, 35%);
  --color-Blue-dark: hsl(219, 29%, 14%);
  --color-Black: hsl(0, 0%, 7%);
}